<div *ngFor="let question of questions; let i = index" class="card card-custom mb-3">
    <div class="card-body p-4">
        <div class="bg-type-question">
            <span>MULTIPLE {{question.type}}</span>
        </div>
        <div>
            <div class="bg-question">
                <span>{{question.text}}</span>
            </div>
            <div class="col-md-12 mt-4">
                <div class="row">
                    <div class="col-md-6" *ngFor="let choice of question.choices; let j = index">
                        <div class="card card-custom-choice mb-3" *ngIf="j < 2">
                            <div class="card-body d-flex justify-content-between">
                                <span>{{ choice.value }}</span>
                                <div class="bg-checklist" *ngIf="choice.true">
                                    <i
                                        class="fas fa-check text-black d-flex justify-content-center align-items-center"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngFor="let choice of question.choices; let j = index">
                        <div class="card card-custom-choice mb-3" *ngIf="j >= 2">
                            <div class="card-body d-flex justify-content-between">
                                <span>{{ choice.value }}</span>
                                <div class="bg-checklist" *ngIf="choice.true">
                                    <i
                                        class="fas fa-check text-black d-flex justify-content-center align-items-center"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card card-custom mt-3">
    <div class="card-body p-4">
        <div class="bg-type-question">
            <span>Input text</span>
        </div>
        <div class="bg-question">
            <span>Apakah yang anda sukai dari assessment ini ?</span>
        </div>
    </div>
</div> -->