<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container row justify-content-center align-items-center">
        <div class="p-5">
            <div class="d-flex justify-content-end">
                <a [routerLink]="['/assessment-create']"><button class="btn btn-custom">Create Assessment</button></a>
            </div>
            <table class="table shadow-lg table-custom">
                <thead>
                    <tr class="custom-bg-purple">
                        <th scope="col" style="width: 40%">Title</th>
                        <th scope="col" style="width: 10%">Status</th>
                        <th scope="col" style="width: 40%">Due Time</th>
                        <th scope="col" style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let assessment of assessments2">
                        <td>
                            <span>{{assessment.title}}</span>
                        </td>
                        <td *ngIf="isStatus; else closed">
                            <div class="text-bg-open">
                                <span>{{status}}</span>
                            </div>
                        </td>

                        <ng-template #closed>
                            <td>
                                <div class="text-bg-closed">
                                    <span>{{status}}</span>
                                </div>
                            </td>
                        </ng-template>

                        <td>
                            <span>{{ assessment.endDate | date: 'yyyy-MM-dd hh:mm' }}</span>
                        </td>
                        <td>
                            <a [routerLink]="['/assessment-detail', assessment.id]"><img
                                    src="assets/image/chevron-right.svg" alt=""></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>