.border-left-primary {
    border-left: .25rem solid #4e73df !important
}

.border-left-success {
    border-left: .25rem solid #1cc88a !important
}

.border-left-warning {
    border-left: .25rem solid #f6c23e !important
}

.card {
    padding: 0px;
    border-radius: 10px;
}

.table-custom {
    border: 1px solid black;
}

.custom-bg-purple th {
    background-color: #363062;
    color: white;
    padding-bottom: 18px;
}

thead {
    height: 60px;
}

.table-custom {
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.text-bg-closed {
    margin: 10px;
    background-color: #F99417;
    color: black;
    border-radius: 10px;
}

.text-bg-open {
    margin: 10px;
    background-color: #4D4C7D;
    color: white;
    border-radius: 10px;
}

.btn-custom {
    background-color: #363062;
    color: white;
    margin-bottom: 20px;
    width: auto;
    height: 50px;
}

.spinner-custom {
    display: flex;
    text-align: center;
    justify-content: center;
}

.pagination-custom span {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
}

.btn-delete {
    background-color: none;
    border: none;
    margin-top: -4px;
}